
<div class="header">
    <div class="row">
        <div class="col-md-8">
            <h2>Quiz Application</h2>
        </div>
        <div class="col-md-4 header-right">
            <!-- In actual application, you may wish to load the quiz List using angular service. -->
            Time: <h1><timer countdown="10041" max-time-unit="'minute'" interval="1000">{{mminutes}}:{{minutesS}}:{{sseconds}}:{{secondsS}}</timer></h1>
        </div>
    </div>
    <hr />
</div>
<div id="quiz">
    <h1 class="center">{{quiz.name}}</h1>
    <hr />
    <div ng-show="mode=='quiz'">
        <div ng-repeat="question in filteredQuestions">
            <div class="label label-warning">Question {{currentPage}} of {{totalItems}}.</div>
            <div class="question">
                <h2>{{currentPage}}. <span ng-bind="question.name"></span></h2>
                <div class="options">
                    <div ng-repeat="option in question.options">
                        <label for="{{option.Id}}">
                            <input id="{{option.Id}}" type="checkbox" ng-model="option.Selected" ng-click="onSelect(question, option);"/>
                            {{option.name}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="quizNav">
            <div>
                <button class="btn btn-primary" ng-click="goTo(currentPage + 1);">Next</button>
                <button class="btn btn-default" ng-click="onSubmit();">Submit Quiz</button>
            </div>
            <br />
            <pagination ng-show="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>
        </div>
        </div>
        <hr />
    </div>
    <div class="review" ng-show="mode=='review'">
        <div ng-repeat="question in questions">
            <div ng-click="goTo($index + 1)" class="{{ isAnswered($index) == 'Answered'? 'answered': 'not-answered' }}">{{$index + 1}}. {{ isAnswered($index) }}</div>
        </div>
    </div>
    <div class="result" ng-show="mode=='result'">
        <h2>Quiz Result</h2>
        <div>
                <h4>Your score is {{result}}.</h4>
        </div>
        <h4 class="alert alert-info text-center">You may close this window now.</h4>
    </div>
    <hr />
</div>